#flip-countdown .countdown-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
    padding-left:40px;
}

#flip-countdown .countdown-wrapper:after {
    padding-top: 17%;
    display: block;
    content: '';
}

#flip-countdown .countdown-main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#flip-countdown .countdown-section-days {
    display: inline;
    height: 100%;
    width: 20%;
    float: left;
}

#flip-countdown .countdown-section-other {
    display: inline;
    height: 100%;
    width: 20%;
    float: left;
}

#flip-countdown .countdown-separator {
    display: inline;
    height: 100%;
    width: 3.33%;
    float: left;
}

#flip-countdown .countdown-separator-top {
    height: 85%;
    width: 100%;
    text-align: center;
}

#flip-countdown .countdown-dot {
    width: 60%;
    height: 14%;
    border-radius: 75%;
    border: 1px solid #000000;
    background-color: #404040;
    margin: auto;
    margin-top: 107%;

}

#flip-countdown .countdown-number-container {
    width: 100%;
    height: 85%;
    position: relative;
}

#flip-countdown .countdown-number-days {
    width: 50%;
    height: 100%;
    float: left;
    display: inline;
    border-radius: 7%;
    -webkit-perspective: 1000px; /* Chrome, Safari, Opera  */
    perspective: 1000px;
    position: relative;

}

#flip-countdown .countdown-number-other {
    width: 50%;
    height: 100%;
    float: left;
    display: inline;
    border-radius: 7%;
    -webkit-perspective: 1000px; /* Chrome, Safari, Opera  */
    perspective: 1000px;
    position: relative;
}


#flip-countdown .countdown-number-top {
    width: 100%;
    height: 50%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    border: 1px solid #000000;
    overflow: hidden;
    background-color: #404040;
    color: #FFFFFF;
    transform-origin: bottom left;
}

#flip-countdown .countdown-number-bottom {
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    border: 1px solid #000000;
    background-color: #404040;
    color: #FFFFFF;
    overflow: hidden;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */
}

#flip-countdown .countdown-number-inner {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    height: 200%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    transform-origin: top;
}

#flip-countdown .countdown-number-next {
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    z-index: -9999;
    border-radius: 7%;
    color: #FFFFFF;
    border: 1px solid #000000;
    background-color: #404040;
}


#flip-countdown .countdown-number-top .countdown-number-inner {
    transform-origin: bottom left;
}

#flip-countdown .shadow {
    z-index:999;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 99%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 99%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 99%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#59000000',GradientType=0 ); /* IE6-9 */
}

#flip-countdown .countdown-number-bottom .countdown-number-inner {
    transform:translateY(-52.5%);
}

#flip-countdown .countdown-label-container {
    height: 15%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    padding-top: 5px;
}

#flip-countdown .countdown-number-container .ready {
    display: none;
}

