body {
    scroll-behavior: smooth;
}

@font-face {
    font-family: flink regular;
    src: url('./FlinkRegular.otf');
}

@font-face {
    font-family: flink bold;
    src: url('./fonts_carrot/FlinkBold.otf');
}

@font-face {
    font-family: flink black;
    src: url('./fonts_carrot/FlinkBlack.otf');
}

@font-face {
    font-family: DunbarTall-ExtraBold;
    src: url('./font/DunbarTall-ExtraBold.ttf');
}



.roadmapcontainer {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    /* scroll-snap-align: start; */
    padding-left: 100%;
    position: relative;
}

.roadmaptext {
    /* display: flex;
    justify-content: start;
    align-items: center; */
    font-family: flink regular;
    font-size: 26px;
    font-weight: 700;
    width: 650px;
    line-height: 30px;
}

#roadmapcircle {
    display: inline-block;
    float: left;
    background-color: #fff;
    border: 5px solid #F07E13;
    width: 20px;
    height: 20px;
}

.roadmapbackground {
    width: 6200px;
    height: 700px;
    padding: 27px 0px 150px 90px;
    background-color: #fff;
    background-image: url('./Road_Map/Road-Map-Road.png');
    background-repeat: no-repeat;
    background-position: left 0px bottom 40px;
    background-size: 5500px 550px;
    position: relative;
    /* scroll-snap-align: start; */
}

@media screen and (max-width:576px){
    .roadmapbackground{
        width:2000px;
        height: 400px;
        background-size: 1700px 310px;
        padding: 0px 0px 150px 20px;
        background-position: left 0px bottom 30px;
    }
    .roadmapcontainer {

        padding-top: 45px;
    }
    .roadmaptext {

        font-size: 14px;

        line-height: 15px;
    }
    #roadmap2{
        display:none
    }
}

.nav1 {
    margin-right: 0;
    margin-left: auto;
    font-size: 16px;
    font-family: flink black;
}

.navlogo {
    /* margin-left: 20px; */
}

.navlibottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.navlibutton,
.navflag {
    margin-top: 1px;
    margin-left: 25px;
}

.navflag {
    margin-right: 10px;
}

@media screen and (min-width: 1440px) {
    .navlogo {
        /* margin-left: 200px; */
    }
}

/* @media screen and (min-width: 1243px) {
    .nav1 {
        margin-right: 150px;
    }
} */

@media screen and (max-width: 1104px) and (min-width: 991px) {
    .nav1 {
        font-size: 16px;
    }


}

.presalecontainer {
    background-color: #37323E;
    height: 50%;
    /* padding-top: 100px; */
}

@media screen and (max-width: 901px) and (min-width:576px) {
    .presalecontainer {
        height: 45%;
        /* padding-top: 30px; */
    }

    .presalecontainer h2 {
        font-size: 3rem;
    }

    .presalecontainer h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width:732px) {
    /* .presalecontainer h2 {
        font-size: 1.0rem;
    } */
}

@media screen and (max-width:676px) {


    #cancas {
        margin-top: -80px;
        margin-left: 20px;
        ;
    }



    /* .presalecontainer h2 {
        font-size: 1.5rem;
    } */

    .presalecontainer h1 {
        font-size: 1.5rem;
    }

    .presalecontainer h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:480px) {
    .presalecontainer {
        height: 30%;
        padding-top: 30px;
    }

    /* .presalecontainer h2 {
        font-size: 1.5rem;
    } */

    .presalecontainer h1 {
        font-size: 1.5rem;
    }

    .presalecontainer h2 {
        font-size: 1.5rem;
    }
}

.presalescroll {
    width: 1010px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .nav1 {
        margin-left: 12px;
        float: left;
        margin-right: auto;
    }

    .navlibottom {
        width: 65%
    }

    .navli {
        margin-top: 10px;
        /* margin-left: 50px; */
    }

    .navlibutton {
        margin-top: 0px;
        margin-left: 0px;
    }

    .navflag {
        display: block;
        margin-top: 20px;
        margin-left: 0px;
    }

    /* .navlist {
        padding-left: 30px;
    } */
}

@media screen and (max-width: 1284px) and (min-width:991px) {
    .navflag {
        display: none;
    }
}

@media screen and (max-width: 1017px) {
    .presalescroll {
        overflow-x: scroll;
    }
}


.contain {
    max-height: 478px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* border: 2px solid black; */
}

@media screen and (max-height:829px) {
    .contain {
        max-height: 408px;
    }
}

.contain::-webkit-scrollbar {
    display: none
}

.ctamainsection::-webkit-scrollbar {
    display: none
}

.homepage {
    height: 1600px;
    position: relative;
    margin-top: 0px;
    background-color: fff
}

.hero-image {
    background-color: violet;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999
}

.homeScreen1 {
    /* border: 2px solid #000; */
    border-radius: 1.25em;
    /* box-shadow: 0 8px 0 0 #000; */
    position: absolute;
    background-color: #fff;
    padding: 0 20px 0 20px;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    height: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px solid black; */
}

.comon {
    /* border: 2px solid #000; */
    border-radius: 1.25em;
    /* box-shadow: 0 8px 0 0 #000; */
    background-color: #fff;
    width: 100%;
    padding: 0 20px;
    pointer-events: none;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px solid black; */
}

#homeScreen2 {
    position: sticky;
    top: 110;
    z-index: 999;
    height: 30%
}

#homeScreen3 {
    position: sticky;
    top: 110px;
    z-index: 998;
    height: 39%
}

#homeScreen4 {
    position: sticky;
    top: 0px;
    z-index: 997;
    height: 18%
}

#homeScreen5 {
    position: sticky;
    top: 110px;
    z-index: 996;
    height: 18%
}

.about {
    margin-top: -100px
}

.parallaximg {
    position: absolute;
    z-index: 100;
    height: 220px;
    left: 70px;
    bottom: 10px;
    /* transform: scaleY(-1); */
}

.parallaximg2 {
    position: absolute;
    z-index: 100;
    height: 400px;
    left: 70px;
    bottom: 10px;
    /* transform: scaleY(-1); */
}

.parallaximg3 {
    position: absolute;
    z-index: 100;
    height: 170px;
    left: 70px;
    top: 100px;
    /* transform: scaleY(-1); */
}

.parallax1 {
    padding: 80px 0px;
    position: relative;
}

.parallaxheading {
    font-size: 40px;
    color: #F07E13;
    font-weight: 700;
    font-family: flink bold;
}

.parallaxtext {
    font-size: 25px;
    color: black;
    font-family: flink regular;
}

.parallaxright {
    padding: 20px 30px;
    text-align: start;
}

.navdiv {
    border-bottom: 7px solid rgb(58, 59, 61);
}

.navli:hover .navdiv {
    border-bottom: 7px solid #F07E13;
}

.backimage {
    background-image: url('./tokenomics/full_c1.png');
    background-position: left;
    background-repeat: no-repeat;
    /* height: 100%; */
    background-size: 250px 550px;
    position: relative;
}

.backimage2 {

    background-image: url('./tokenomics/full_c2.png');
    background-position: 33px 282px;
    background-repeat: no-repeat;
    height: 560px;
    background-size: 250px 200px;
    position: relative;
}

.backimage3 {
    background-image: url('./tokenomics/full_c3.png');
    background-position: left;
    background-repeat: no-repeat;
    height: 560px;
    background-size: 250px 155px;
    position: relative;
}

.backimage4 {
    background-image: url('./tokenomics/full_c4.png');
    background-position: left;
    background-repeat: no-repeat;
    height: 560px;
    background-size: 250px 85px;
    position: relative;
}

.backimage5 {
    background-image: url('./tokenomics/full_c5.png');
    background-position: left;
    background-repeat: no-repeat;
    height: 560px;
    background-size: 250px 45px;
    position: relative;
}



@media screen and (max-width:829px) and (min-width:576px) {
    .parallaxheading {
        font-size: 35px;
    }

    .parallaxtext {
        font-size: 22px;
    }

}

@media screen and (max-width:576px) and (min-width:408px) {

    /* #homeScreen2,
    #homeScreen3,
    #homeScreen4,
    #homeScreen5 {
        top: 220px
    } */
    .homepage {
        height: 1400px;
    }
}

@media screen and (max-width:829px) and (min-width:708px) {
    .homepage {
        height: 1400px
    }
}

@media screen and (max-width:708px) and (min-width:576px) {
    .homepage {
        height: 1600px
    }
}



@media screen and (max-width:888px) {
    .homeScreen1 {
        display: block;
        justify-content: none;
        align-items: none;
    }

    .parallax1 {
        padding: 0px;
    }
}


@media screen and (max-width:1340px) and (min-width:1103px) {

    .parallaximg,
    .parallaximg2,
    .parallaximg3 {
        left: 30px
    }


    .relativepara1,
    .relativepara {
        display: none
    }
}

@media screen and (max-width:1340px) {

    .relativepara1,
    .relativepara {
        display: none
    }
}


@media screen and (max-width:413px) {

    #homeScreen2,
    #homeScreen3,
    #homeScreen4,
    #homeScreen5 {
        top: 220px
    }

    .homepage {
        height: 2200px
    }

    .about {
        margin-top: 0
    }
}

.tokenomicsdiv2 {
    display: flex;
}

.tokenomicsdiv {
    display: block
}

@media screen and (max-width:929px) {

    .tokenomicsdiv2 {
        display: none
    }
}

@media screen and (min-width:929px) {

    .tokenomicsdiv {
        display: none
    }
}








/* @media screen and (max-width:360px) {
    .para {
        font-size: 18px;
    }
} */

.section9text {
    position: absolute;
    z-index: 100;
}

.section9texttwo {
    position: absolute;
    z-index: 100;
    right: 0%;
    left: 0%;
}

@media screen and (max-width:576px) {

    .backimage,
    .backimage2,
    .backimage3,
    .backimage4,
    .backimage5 {
        background-position: center;
    }

    .section9text {
        display: none;
    }


}

@media (min-width:576px) {
    .section9texttwo {
        display: none;
    }
    #roadmap1{
        display:none
    }
}











.nav2one {
    display: block;
}

.nav2two {
    display: none;
}



@media screen and (max-width:576px) {
    .nav2one {
        display: none;
    }

    .nav2two {
        display: inline-block;
    }
}

.section9parallax {
    height: 2550px;
    position: relative;
}

.div1 {
    /* border: 5px solid red; */
    height: 20%;
    background-color: #fff;
    position: sticky;
    width: 100%;
    z-index: 996;
    top: 0px;
}

.div2 {
    /* border: 5px solid red; */
    height: 20%;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 997;
    top: 550px;
}

.div3 {
    /* border: 5px solid red; */
    height: 20%;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 998;
    top: 950px;
}

.div4 {
    /* border: 5px solid red; */
    height: 20%;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 1350px;
}

.div5 {
    /* border: 5px solid red; */
    height: 2%;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 1650px;
    /* bottom: 0px; */
}




@media screen and (max-width:576px) {
    .section9parallax {
        height: 4400px;
    }
}



#moveup {
    display: none;
}

.crossbutton {
    display: none
}

.footertext1 {
    font-size: 22px;
    text-align: start;
    padding-left: 45px;
    padding-top: 30px;
    color: #fff
}

.footertext2 {
    font-size: 22px;
    color: #fff;
    text-align: start;
    padding-left: 55px;
    padding-top: 30px;
    padding-right: 80px;
}

@media screen and (max-width:460px) {
    .footertext1 {
        font-size: 18px;
        text-align: start;
        padding-left: 0px;
        padding-top: 15px;
        color: #fff
    }


    .footertext2 {
        font-size: 18px;
        color: #fff;
        text-align: start;
        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
    }






}

.copyright {
    text-align: start;
    font-size: 22px;
    padding: 20px 20px 20px 60px;
    color: #fff;
    display: inline-block;
    float: left;
}

.icons {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 8px;
}

@media screen and (max-width:1294px) and (min-width:410px) {
    .copyright {
        text-align: start;
        font-size: 22px;
        padding: 20px 20px 20px 60px;
        color: #fff;
        display: block;
        float: none;
    }

    .icons {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 8px;
        padding-left: 50px;
    }
}

@media screen and (max-width:576px) {
    .copyright {
        text-align: start;
        font-size: 19px;
        padding: 10px 20px 0px 0px;
        color: #fff;
        display: block;
        float: none;
    }

    .icons {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 14px;
        padding-left: 0px;
    }
}

.iconimg {
    height: 55px;
}

@media screen and (max-width:460px) {
    .iconimg {
        height: 30px;
    }
}

#section4 {
    padding: 0px 0px 0px 280px;
}

@media screen and (max-width:868px) and (min-width:576px) {
    #section4 {
        padding: 0px 0px 0px 80px;
    }
}

@media screen and (max-width:576px) {
    #section4 {
        padding: 0px 0px 0px 10px;
    }
}


@font-face {
    font-family: DunbarTall-ExtraBold;
    src: url('./font/DunbarTall-ExtraBold.ttf');
}

.bgimgontext {
    position: relative;
    height: auto;
    width: 100%;
    color: #fff;
    padding: 0;
    /* margin-top:9.7rem; */
}

.slideintext {
    /* left: 30px; */
    line-height: 95px;
    padding-top: 5rem;
    padding-bottom: 2rem;
    /* padding: 30px 0px; */
    /* margin-top: 0rem; */
    /* padding-right: 2rem;
    padding-bottom: 1rem; */
    /* background-color: red; */
    text-align: left;
    /* background-color: rgb(66, 5, 35); */
    z-index: 999;
}

@media screen and (min-width:820px) and (max-width:1250px) {
    .slideintext {
        bottom: 3rem;
        line-height: 63px;
    }
}

@media screen and (min-width:576px) and (max-width:820px) {
    .slideintext {
        bottom: 4rem;
        line-height: 47px;
    }
}

@media (max-width:576px) {
    .slideintext {
        bottom: 3.1rem;
        line-height: 28px;
        padding-right: 1 rem;
    }
}

@media (max-width:400px) {
    .slideintext {
        padding-top: 7rem;
        left: 1rem;
        bottom: 5.6rem;
        line-height: 20px;
        padding-right: 0px;
    }
}





.testmakeroverflow1 {
    display: flex;
    justify-content: start;
    /* width: 100%; */
    overflow-x: hidden;
    /* height: 36%; */
    /* white-space: nowrap; */
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.testmakeroverflowx {
    display: flex;
    justify-content: start;
    /* width: 140%; */
    /* height: 100%; */
    /* background-color: red; */
}

@media screen and (max-width:1304px) {
    .testmakeroverflowx {
        overflow-x: scroll;
        justify-content: start;
        overflow-y: hidden;
        padding-left: 0px;
        /* width: 100%; */
    }
}

.section-testmaker {
    background: #F07E13;
    padding-top: 270px;
}

@media screen and (max-width:900px) {
    .section-testmaker {
        padding-top: 80px;
    }

}

@media screen and (max-width:460px) {
    .section-testmaker {
        padding-top: 70px;
    }

}

.card2 {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 40px;
    width: 350px;
    height: 280px;
    font-family: flink bold;
    margin: 0 auto;
}

@media screen and (max-width:576px) {
    .card2 {
        width: 300px;
        height: 260px;
    }
}

@media screen and (max-width:300px) {
    .card2 {
        width: 260px;
        height: 260px;
    }
}

#overflox {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    cursor: pointer;
}

#overflox::-webkit-scrollbar {
    display: none;
}

#section9contain::-webkit-scrollbar {
    display: none;
}

.ctaover {
    width: 200%;
}

.cta1 {
    background-color: rgb(222, 222, 222);
    display: inline-block;
    width: 100%;
    float: left;
}

.cta1 .card {
    width: 450px !important;
    height: 450px !important;
    border-radius: 50% !important;
    background-image: url('./while_circle_png');
    background-repeat: no-repeat;
    background-position: center;
}

.cta1 .cardstyle1 {
    padding-right: 50px;
}

.cta1 .cardstyle2 {
    padding-left: 50px;
}

.cta1 .card img {
    width: 80px;
    height: 80px;
}

.cta1 .card p {
    font-size: 1rem;
}

@media screen and (max-width: 1180px) {
    .cta1 .card {
        height: 430px !important;
        width: 430px !important;
        border-radius: 50%;
    }

    .cta1 .card img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 990px) {
    .cta1 .card {
        height: 420px !important;
        width: 420px !important;
        border-radius: 50%;
    }

    .cta1 .card img {
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 930px) {
    .cta1 .card {
        height: 400px !important;
        width: 400px !important;
        border-radius: 50%;
    }

    .cta1 .card img {
        width: 70px;
        height: 70px;
    }

    .cta1 .cardstyle1 {
        padding-right: 20px;
    }

    .cta1 .cardstyle2 {
        padding-left: 20px;
    }
}

@media screen and (max-width: 880px) {
    .cta1 .card {
        height: 380px !important;
        width: 380px !important;
        border-radius: 50%;
    }

    .cta1 .card img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 780px) {
    .cta1 .card {
        height: 360px !important;
        width: 360px !important;
        border-radius: 50%;
    }

    .cta1 .card img {
        width: 60px;
        height: 60px;
    }

    .cta1 .card h5 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 680px) {
    .cta1 .card {
        height: 340px !important;
        width: 340px !important;
        border-radius: 50%;
    }

    .cta1 .card img {
        width: 55px;
        height: 55px;
    }

    .cta1 .card h5 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 415px) {
    .cta1 .card {
        height: 350px !important;
        width: 350px !important;
        border-radius: 50%;
    }

    .cta1 .cardstyle1 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .cta1 .cardstyle2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .cta1 .card img {
        width: 75px;
        height: 75px;
    }

    .cta1 .card h5 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .cta1 .card {
        height: 250px !important;
        width: 250px !important;
        border-radius: 50%;
    }

    .cta1 .card img {
        width: 50px;
        height: 50px;
    }

    .cta1.card h5 {
        font-size: 0.7rem;
    }

    .cta1 .card p {
        font-size: 0.7rem;
    }
}

/* end cta1 css */
/* start ct2 */
.cta2 {
    background-color: rgb(251, 122, 18);
    display: inline-block;
    float: right;
    width: 100%;
    /* height:100%; */
    /* padding-bottom: 120px; */
}

.cta2 .card {
    width: 450px !important;
    height: 450px !important;
    border-radius: 50% !important;
    background-image: url(./CTA/bg_circle.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cta2 .style1cta2 {
    padding-right: 50px;
}

.cta2 .style2cta2 {
    padding-left: 50px;
}

.cta2 .card p {
    font-size: 1rem;
}

@media screen and (max-width: 1180px) {
    .cta2 .card {
        height: 430px !important;
        width: 430px !important;
        border-radius: 50%;
    }
}

@media screen and (max-width: 990px) {
    .cta2 .card {
        height: 420px !important;
        width: 420px !important;
        border-radius: 50%;
        box-shadow: 2px 2px 10px 10px rgb(224, 155, 99);
    }
}

@media screen and (max-width: 930px) {
    .cta2 .card {
        height: 400px !important;
        width: 400px !important;
        border-radius: 50%;
    }

    .cta2 .style1cta2 {
        padding-right: 20px;
    }

    .cta2 .style2cta2 {
        padding-left: 20px;
    }
}

@media screen and (max-width: 880px) {
    .cta2 .card {
        height: 380px !important;
        width: 380px !important;
        border-radius: 50%;
    }
}

@media screen and (max-width: 780px) {
    .cta2 .card {
        height: 360px !important;
        width: 360px !important;
        border-radius: 50%;
    }

    .cta2 .card h5 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 680px) {
    .cta2 .card {
        height: 340px !important;
        width: 340px !important;
        border-radius: 50%;
    }

    .cta2 .card h5 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 415px) {
    .cta2 .card {
        height: 350px !important;
        width: 350px !important;
        border-radius: 50%;
    }

    .cta2 .style1cta2 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .cta2 .style2cta2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .cta2 .card h5 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .cta2 .card {
        height: 250px !important;
        width: 250px !important;
        border-radius: 50%;
    }

    .cta2.card h5 {
        font-size: 0.7rem;
    }

    .cta2 .card p {
        font-size: 0.7rem;
    }
}


/* @font-face {
    font-family: flink regular;
    src: url('./FlinkRegular.otf');
}

@font-face {
    font-family: flink bold;
    src: url('./fonts_carrot/FlinkBold.otf');
}

@font-face {
    font-family: flink black;
    src: url('./fonts_carrot/FlinkBlack.otf');
}

@font-face {
    font-family: DunbarTall-ExtraBold;
    src: url('./font/DunbarTall-ExtraBold.ttf');
} */

.scrollheading {
    font-size: 70px;
    color: #F07E13;
    font-weight: 700;
    font-family: flink black;
}

.scrollheadingthird {
    font-size: 45px;
    color: #F07E13;
    font-weight: 700;
    font-family: flink black;
}

.scrolltext {
    font-size: 35px;
    color: black;
    font-weight: 900;
    font-family: flink regular;
    line-height: 45px;
}

@media screen and (max-width:829px) and (min-width:576px) {
    .scrolltext {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width:576px) and (min-width:350px) {
    .scrolltext {
        font-size: 16px;
        line-height: 30px;
    }
}

@media screen and (max-width:350px) {
    .scrolltext {
        font-size: 15px;
        line-height: 30px;
    }
}

.scrollright {
    padding: 20px 30px;
    text-align: start;
}





.scrollimg {
    height: 270px;
    position: absolute;
    bottom: 0px;
    width: 220px;
    left: 120px;
}

.scrollimg2 {
    height: 280px;
    position: absolute;
    top: -73px;
    z-index: 100;
    width: 220px;
    left: 120px;
}

.overflow1 {
    /* display: flex;*/
    justify-content: start;
    /* width: 100%; */
    overflow-x: hidden;
    /* height: 36%; */
    /* white-space: nowrap; */
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    /* padding-left: 50px; */
}

.overflowx {
    display: flex;
    justify-content: start;
    align-items: center;
    /* width: 1820px; */
    overflow-y: hidden;
}

.section-1 {
    background: radial-gradient(closest-side, #ECC69B, #F07E13, #F07E13);
    /* background-color:#F07E13; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%
}

.parahead {
    font-size: 70px;
}

.parahead2 {
    font-size: 70px;
}

@media screen and (max-width:576px) {
    .overflow1 {
        padding-left: 0px;
    }

    .parahead {
        font-size: 40px;
    }

    .parahead2 {
        font-size: 30px;
    }

    /* .section-1 {
        height: 45%
    } */
}


.tastemakertext,
#tastetext {
    font-size: 75px;
}





.logoimg {
    margin-left: 50px;
    height: 110px;
}

.logoimg2 {
    height: 6rem;
}


#blankdiv {
    width: 100%;
    height: 109px;
}

@media screen and (max-width:991px) {
    .logoimg {
        margin-left: 30px;
        height: 60px;
    }

    .logoimg2 {
        height: 4.5rem;
    }

    #blankdiv {
        width: 100%;
        height: 55px;
    }

}

.backimage {
    width: 100%;
    height: auto
}

@media screen and (max-width:576px) {
    .logoimg {
        margin-left: 15px;
        height: 50px;
    }

    .logoimg2 {
        height: 3.8rem;
    }

    #blankdiv {
        width: 100%;
        height: 55px;
    }

}

@media screen and (max-width:576px) {
    .backimage {
        /* height: 15%; */
        background-position: center 50px;
        background-size: 160px;
    }
}


/* @media screen and (max-width:576px) {
    .backimage {
        /* height: 15%; */
/* background-position: top;
    }
} */

#section1 {
    height: 50%;
    padding: 100px 20px 0px 20px;
    position: relative;
}

#section2 {
    /* height: 50%;
    position: relative;
    overflow-x: scroll;
    width: 100%;
    padding: 100px 20px 0px 20px; */
    /* background-color: red; */
}

@media screen and (max-width:1103px) {
    #section1 {
        padding: 10px 20px 0px 20px;
    }



    #section2 {
        /* height: 50%;
        position: relative;
        overflow-x: scroll;
        width: 100%;
        padding: 20px 20px 0px 20px; */
    }

    .overflow1 {
        overflow-x: scroll;
    }

    .scrollimg,
    .scrollimg2,
    .scrollimg3,
    .scrollleft {
        display: none;
    }

    #scrollright2 {
        width: 100%;
    }

    .parallaximg,
    .parallaximg2,
    .parallaximg3,
    .parallaxleft {
        display: none;
    }

    .parallaxright {
        width: 100%;
    }
}

.scrolldiv1 {
    width: 150px;
    display: inline-block;
    float: left;
    transition: width 2s;
}

.scrolldiv2 {
    width: 300px;
    display: inline-block;
    float: left;
    transition: width 2s;
}

.scrolldiv3 {
    width: 2500px;
    transition: width 2s;
}

.scrolldiv3container::-webkit-scrollbar {
    display: none
}


.scrolltext2 {
    font-size: 35px;
    color: black;
    font-weight: 900;
    font-family: flink bold;
    line-height: 45px;
}

#scrolltext3 {
    font-size: 40px;
    line-height: 40px;
}

#scrolltext4 {
    font-size: 30px;
    line-height: 38px;
}


@media screen and (max-width:829px) {
    .scrollheading {
        font-size: 55px;
    }



    .scrolltext2 {
        font-size: 22px;
        line-height: 40px;
    }
}


#scrollnum {
    display: inline-block;
    /* float: left; */
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    height: 70px;
    width: 70px;
    background-image: url('./2/carrort_small.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 50px;
}

@media screen and (max-width:1100px) and (min-width:1033px) {
    #scrolltext3 {
        font-size: 30px;
    }

    #scrolltext4 {
        font-size: 28px;
        line-height: 35px;
    }
}

@media screen and (max-width:1033px) and (min-width:887px) {
    #scrolltext3 {
        font-size: 27px;
    }
}

#scrolldum {
    display: inline-block;
    width: 70px;
    height: 70px;
}

@media screen and (max-width:917px) {
    #scrollnum {
        height: 45px;
        width: 45px;
        font-size: 30px;
    }

    #scrolldum {
        width: 45px;
        height: 45px;
        background-color: yellow;
    }

}

.scrolltextcontainer {
    margin-left: 40px;
}

@media screen and (max-width:817px) {
    #scrollnum {
        height: 45px;
        width: 45px;
        font-size: 30px;
        display: none;
    }

    .scrolltextcontainer {
        margin-left: 0px;
    }
}

@media screen and (max-width:887px) and (min-width:576px) {
    #scrolltext3 {
        font-size: 24px;
        line-height: 25px;
    }

    #scrolltext4 {
        font-size: 23px;
        line-height: 30px;
    }
}

@media screen and (max-width:576px) {
    #scrolltext3 {
        font-size: 16px;
        line-height: 25px;
    }

    #scrolltext4 {
        font-size: 15px;
        line-height: 25px;
    }
}

#bottomleft {
    height: 100%;
    position: relative;
    padding: 100px 20px 0px 20px;
}

@media screen and (max-width:806px) and (min-width:576px) {
    .scrollheadingthird {
        font-size: 37px;
    }
}

#bottomright {
    height: 100%;
    position: relative;
    padding: 45px 20px 0px 20px;
}

@media screen and (max-width:576px) {
    #bottomleft {
        padding: 20px 20px 0px 20px;
    }

    #bottomright {
        padding: 10px 20px 0px 20px;
    }

    .scrollheadingthird {
        font-size: 28px;
    }

    .scrollheading {
        font-size: 35px;
    }

}


#page-wrap {
    width: 200%;
    /* 100% x length of panel */
    height: 100%;
    overflow: hidden;
}

.panel {
    width: 50%;
    /* 100% / length of panel */
    float: left;
    height: 100%;
}

.panel .inner {
    /* padding: 2em */
}

.carousel-cell {
    width: 25%;
    padding-top: 80px;
}

/* cell number */
.carousel-cell:before {
    display: block;
}

@media screen and (max-width:1231px) and (min-width:1000px) {
    .carousel-cell {
        width: 35%;
    }
}

@media screen and (max-width:1000px) and (min-width:890px) {
    .carousel-cell {
        width: 40%;
    }
}

@media screen and (max-width:890px) and (min-width: 750px) {
    .carousel-cell {
        width: 48%;
    }
}

@media screen and (max-width:750px) and (min-width:635px) {
    .carousel-cell {
        width: 60%;
    }
}

@media screen and (max-width:635px) and (min-width:525px) {
    .carousel-cell {
        width: 70%;
    }
}

@media screen and (max-width:525px) and (min-width:460px) {
    .carousel-cell {
        width: 100%;
    }
}

@media screen and (max-width:460px) and (min-width:400px) {
    .carousel-cell {
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .carousel-cell {
        width: 100%;
        padding-top: 30px;
    }
}

.carousel-cell-2 {
    width: 24%;
    /* background-color: black; */
    /* padding: 0px 0px 0px 20px; */

}

/* cell number */
.carousel-cell-2:before {
    display: block;
}

@media screen and (max-width:1231px) and (min-width:1000px) {
    .carousel-cell-2 {
        width: 35%;
    }
}

@media screen and (max-width:1000px) and (min-width:890px) {
    .carousel-cell-2 {
        width: 40%;
    }
}

@media screen and (max-width:890px) and (min-width: 750px) {
    .carousel-cell-2 {
        width: 48%;
    }
}

@media screen and (max-width:750px) and (min-width:635px) {
    .carousel-cell-2 {
        width: 60%;
    }
}

@media screen and (max-width:635px) and (min-width:525px) {
    .carousel-cell-2 {
        width: 70%;
    }
}

@media screen and (max-width:525px) and (min-width:460px) {
    .carousel-cell-2 {
        width: 100%;
    }
}

@media screen and (max-width:460px) {
    .carousel-cell-2 {
        width: 100%;
    }
}



@media screen and (max-width:855px) and (min-width:585px) {

    .tastemakertext,
    #tastetext {
        font-size: 50px
    }
}

#tastemakercarousel {
    padding-top: 50px;
}

@media screen and (max-width:595px) and (min-width:425px) {

    .tastemakertext,
    #tastetext {
        font-size: 35px
    }

    #tastemakercarousel {
        padding-top: 30px;
    }
}

@media screen and (max-width:425px) {

    .tastemakertext,
    #tastetext {
        font-size: 30px;
        line-height: 35px;
        /* margin-bottom: 30px; */
    }

    #tastemakercarousel {
        padding-top: 15px;
    }
}




#bring {
    font-size: 1.8rem;
    margin-top: 1%;
}

#link {
    margin-top: 1%;
    font-size: 1.3rem;
}

@media screen and (max-width:576px) {
    #bring {
        font-size: 19px;
        margin-top: 20px;
    }

    #link {
        margin-top: 0%;
        font-size: 15px;
    }
}


.carousel-cell3 {
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

.carousel-cell4 {
    width: 100%;
    height: 100%;
    /* padding: 0px 0px 0px 20px; */

}

@media screen and (min-width:971px) {
    .smallcarousel {
        display: none;
    }

    .ctabydy {
        display: block;
    }
}

@media screen and (max-width:971px) {
    .ctabydy {
        display: none;
    }

    .smallcarousel {
        display: block;
    }
}

#navigationbar1 {
    position: fixed;
    width: 100%;
    z-index: 1199;
}

.feature {
    font-size: 50px;
}

.featureicons {
    font-size: 90px;
}

.featuretext {
    font-size: 28px;
}

.card1 {
    width: 325px;
    margin-left: 30px;
}

.parts {
    height: 50%;
}

@media screen and (max-width:575px) {
    .feature {
        font-size: 30px;
    }

    .featureicons {
        font-size: 55px;
    }

    .featuretext {
        font-size: 22px;
    }

    .card1 {
        width: 320px;
        margin-left: 6px;
    }

    .parts {
        height: 40%;
    }

}

@media screen and (max-width:459px) {


    .card1 {
        width: 320px;
        /* margin-left: 6px; */
    }



}

@media screen and (max-width:359px) {


    .card1 {
        width: 290px;
        /* margin-left: 6px; */
    }



}

@media screen and (max-width:300px) {


    .card1 {
        width: 220px;
        margin-left: 16px;
    }



}


.commonclass {
    scroll-snap-align: start;
}

.commonclasshoriscroll {
    scroll-snap-align: start;
}

#containerpart {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* border: 2px solid black; */
}


#containerpart::-webkit-scrollbar {
    display: none
}

@media screen and (max-width:576px) {
    .commonclasshoriscroll {
        scroll-snap-align: none;
    }
}

.scrolldivhorizontall {
    overflow-x: scroll;
}

.scrolldivhorizontall::-webkit-scrollbar {
    display: none
}


#containerdivscroll {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    height: 50%;
    background-color: green;
}


/* @media screen and (max-width:1103px) and (min-width:360px){
    #containerdivscroll {
        height: 45%;
    }
}

@media screen and (max-width:360px){
    #containerdivscroll {
        height: 45%;
    }
} */

@media screen and (max-width:576px) {
    .parabig {
        display: none
    }

    .parasmall {
        display: block
    }
}

@media screen and (min-width:576px) {
    .parabig {
        display: block
    }

    .parasmall {
        display: none
    }

    .fillingscrolldiv3 {
        display: none;
    }
}


.imggrid {
    width: 10.6rem;
    padding: 0px 3px;
    margin-top: 10px;
}

.ourteam {
    font-size: 70px;
    font-family: flink black;
}

.advisory {
    font-size: 70px;
}

@media (max-width:1350px) {
    .imgoverflow {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        /* height: 23rem; */
        margin: auto;
    }
}

.parat {
    font-size: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width:960px) {
    .parat {
        font-size: 20px;
    }

    .advisory {
        font-size: 3.5rem;
    }

    .ourteam {
        font-size: 3.5rem;
    }
}

@media (max-width:576px) {
    .ourteamdiv {
        /* margin-top: rem; */
    }

    .parat {
        font-size: 16px;
        /* margin-top: -1rem; */
    }

    .advisory {
        font-size: 10vw;
    }

    .ourteam {
        font-size: 3rem;
    }

    .imggrid {
        width: 5rem
    }
}

@media (max-width:250px) {
    .parat {
        font-size: 11px;
    }

    .advisory {
        font-size: 12vw;
    }

    .ourteam {
        font-size: 12vw;
    }
}

/* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }*/
.custom-toggler.navbar-toggler {
    border-color: #fff;
}

#advisoryboard {
    padding-top: 60px;
}

#ourteam {
    padding-top: 50px;
}

.footerbig {
    display: block;
}

.footersmall {
    display: none
}

@media screen and (max-width:576px) {
    .footerbig {
        display: none;
    }

    .footersmall {
        display: block
    }
}

.fillingdivleft {
    height: 600px;
}

@media screen and (max-width:576px) {
    .fillingdivleft {
        height: 200px;
        padding-top: 15px;
        /* background-color: yellow; */
    }

    .fillingscrolldiv1 {
        display: none;
    }


}

.c2 {
    position: absolute;
    z-index: 99;
    width: 250px;
    top: 600px;
    left: 58.2%;
}

.c3 {
    position: absolute;
    z-index: 98;
    width: 250px;
    top: 950px;
    left: 58.2%;
}

.c4 {
    position: absolute;
    z-index: 97;
    width: 250px;
    top: 1550px;
    left: 58.2%;
}


/* @media screen and (max-width:871px) and (min-width:760px){
    .c4 {
        position: absolute;
        z-index: 97;
        width: 250px;
        top: 1550px;
        right: 200px;
    }
} */
.c5 {
    position: absolute;
    z-index: 96;
    width: 250px;
    top: 2150px;
    left: 58.2%;
}

.c2_1 {
    position: absolute;
    z-index: 99;
    width: 160px;
    top: 600px;
    left: 0%;
}

.c3_1 {
    position: absolute;
    z-index: 99;
    width: 160px;
    top: 950px;
    left: 0%;
}

.c4_1 {
    position: absolute;
    z-index: 99;
    width: 160px;
    top: 1550px;
    left: 0%;
}

.c5_1 {
    position: absolute;
    z-index: 99;
    width: 160px;
    top: 2150px;
    left: 0%;
}

.filltext1 {
    opacity: 0.5;
}

.filltext2 {
    opacity: 0.5;
}

.filltext3 {
    opacity: 0.5;
}

.filltext4 {
    opacity: 0.5;
}

.filltext1_1 {
    opacity: 0.5;
}

.filltext2_1 {
    opacity: 0.5;
}

.filltext3_1 {
    opacity: 0.5;
}

.filltext4_1 {
    opacity: 0.5;
}




.fillingscrolldiv1::-webkit-scrollbar {
    display: none
}

.fillingscrolldiv3::-webkit-scrollbar {
    display: none
}

.parallaxcontainer {
    padding-top: 100px;
    height: 100vh;
}

@media screen and (max-width:576px) {
    .parallaxcontainer {
        padding-top: 50px;
        height: 100vh;
    }

    #fillingscrollbig {
        display: none;
    }

}

@media screen and (min-width:576px) {
    #fillingdivscrollsmall {
        display: none;
    }
}

#logo1 {
    display: block;
}

#logo2 {
    display: none;
}

#logo3 {
    display: none;
}

#logo4 {
    display: block;
}

#logo5 {
    display: none;
}

#logo6 {
    display: none;
}

.imhmainbox {
    position: relative;
    width: 100%;
    height: 44vw;
    background-color: BLACK;
}

.img1 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50%;
    width: 29%;
}

.img2 {
    position: absolute;
    top: 0px;
    left: 29%;
    height: 38%;
    width: 24%;
}

.img3 {
    position: absolute;
    top: 0px;
    left: 53%;
    height: 35%;
    width: 29%;
}

.img4 {
    position: absolute;
    right: 0px;
    height: 35%;
    width: 18%;
    top: 0px;
}

.img5 {
    position: absolute;
    left: 0px;
    top: 50%;
    height: 50%;
    width: 15%;
}

.img6 {
    position: absolute;
    bottom: 0%;
    height: 33%;
    width: 23%;
    left: 15%;
}

.img7 {
    position: absolute;
    bottom: 0px;
    left: 38%;
    height: 33%;
    width: 23%;
}

.img8 {
    position: absolute;
    left: 15%;
    bottom: 33%;
    height: 17%;
    width: 14%;
}

.img9 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 49%;
    width: 39.2%;
}

.img10 {
    position: absolute;
    bottom: 33%;
    left: 28.9%;
    width: 25%;
    height: 29%;
}

.img11 {
    position: absolute;
    bottom: 33.1%;
    left: 53%;
    height: 16%;
    width: 7.8%;
}

.img12 {
    position: absolute;
    right: 0px;
    top: 35%;
    height: 16%;
    width: 10%;
}

.img13 {
    position: absolute;
    right: 10%;
    top: 35%;
    height: 16%;
    width: 24%;
}

.img14 {
    position: absolute;
    top: 35%;
    right: 34%;
    height: 16%;
    width: 13%;
}

#textcarousel {
    position: absolute;
    z-index: 100;
    top: 150px;
    left: 26px;
    width: 100%;
}

@media screen and (max-width:900px) {
    #textcarousel {

        top: 60px;

    }
}

@media screen and (max-width:576px) {
    #textcarousel {

        top: 30px;

    }
}

.fontcontainer {
    background-color: #fff;
    height: 180px;
    width: 180px;
    box-shadow: 0px 0px 2px 14px rgb(0 0 0 / 20%);
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:576px) {
    .fontcontainer {

        height: 135px;
        width: 135px;

    }
}


#carrotstick {
    position: absolute;
    z-index: 101;
    left: 435px;
    top: 55px;
    height: 220px;
    animation: shake 1s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}



@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


.hand {
    position: absolute;
    z-index: 100;
    left: 750px;
    top: 235px;
    height: 80px;
}

#tastetext {
    position: absolute;
    top: 120px;
    z-index: 120;
    left: 0;
    right: 0;
    font-weight: 900;
    font-family: flink black;
    color: #37323e
}

.bringtext {
    font-size: 24px;
    font-weight: 50;
    font-style: italic;
    font-family: flink bold;
    position: absolute;
    right: 165;
    top: 275px;
    z-index: 120;
}

@media screen and (max-width:900px) {

    #carrotstick,
    .hand,
    #tastetext,
    .bringtext {
        display: none;
    }
}

@media screen and (min-width:900px) {

    .tastemakertext,
    #bring {
        display: none;
    }
}

@media screen and (max-width:1550px) {
    #carrotstick {
        left: 402
    }

    .hand {
        top: 236px;
        left: 720px;
    }

    .bringtext {

        right: 140;
        top: 275px;

    }
}

@media screen and (min-width:1400px) {

    .tastemakertext,
    #bring {
        display: none;
    }
}